@import "normalize.scss";

body {
	font-family: "Inter", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.3;
}

.container {
	max-width: 1220px;
	margin: 0 auto;
	padding: 0 10px;
}

.tabl {
	// .tabl__title

	&__title {
		margin-top: 20px;
		font-weight: 700;
		font-style: 20px;
		margin-bottom: 20px;
	}
}

.task {
	background-color: #f3f5f6;
	padding: 30px;
	border: 1px solid #b2b1b1;
	border-radius: 6px;
	// .task__title

	&__title {
		color: #b2b1b1;
		margin-bottom: 10px;
	}

	// .task__type

	&__type {
		border-bottom: 1px solid #a8a5a5;
		padding-bottom: 15px;
	}

	// .task__actions

	&__actions {
		display: flex;
		gap: 30px;
	}

	// .task__copy

	&__copy {
		color: blue;
		&::before {
			content: "";
			left: 0;
			top: -5px;
			background-image: url("");
		}
	}

	// .task__roll-up

	&__roll-up {
		color: blue;
		position: relative;
		padding-left: 25px;
		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: -5px;
			background-image: url("../img/arrow.svg");
			width: 15px;
			height: 25px;
			transform: rotate(90deg);
		}
	}

	// .task__unwrap

	&__unwrap {
		color: blue;
		position: relative;
		padding-left: 25px;
		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: -5px;
			background-image: url("../img/arrow.svg");
			width: 15px;
			height: 25px;
			transform: rotate(-90deg);
		}
	}
}

.tabs {
	display: flex;
	flex-direction: column;
}

.tabs__links {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
	order: 0;
}

.tabs__links > a {
	display: inline-block;
	padding: 6px 10px;
	text-align: center;
	color: #474747;
	background-color: #dbdbdb;
	border: 1px solid #dbdbdb;
	box-sizing: border-box;
	border-radius: 6px;
}

.tabs__links > a:hover {
	border: 1px solid #a8a5a5;
}

.tabs > #content-1:target ~ .tabs__links > a[href="#content-1"],
.tabs > #content-2:target ~ .tabs__links > a[href="#content-2"],
.tabs > #content-3:target ~ .tabs__links > a[href="#content-3"],
.tabs > #content-1:target ~ .tabs__links > a[href="#content-4"],
.tabs > #content-2:target ~ .tabs__links > a[href="#content-5"],
.tabs > #content-3:target ~ .tabs__links > a[href="#content-6"] {
	border: 1px solid #a8a5a5;
	cursor: default;
}

.tabs > div:not(.tabs__links) {
	display: none;
	order: 1;
}

.tabs > div:target {
	display: block;
}
